.sidenav {
    background-color: white;
    width: 25vmin;
    transition: width 0.4s ease-in-out;
    height: 100%;
    padding-top: 28px;
    position: absolute;
    height: 250vh;
    margin-top: 0;
    z-index: 1;
    overflow: hidden;
    border-right: solid rgb(167, 167, 167) 0.25vmin;
}

.logo{
    width: 9vmin;
    padding: 0;
    margin-top: -4vmin;
    position: relative;
}
 
.sidenavClosed {
    composes: sidenav;
    transition: width 0.4s ease-in-out;
    width: 9vmin;
}
 
.sideitem {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    cursor: pointer;
    color: black;
    text-decoration: none;
}
 
.linkText {
    padding-left: 2vmin;
}
 
.linkTextClosed {
    composes: linkText;
    visibility: hidden;
}
 
.sideitem:hover {
    background-color: #244f7d1c;
}
 
.menuBtn {
    align-self: center;
    align-self: flex-start;  
    justify-self: flex-end;
    color: black;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding-left: 20px;
}
